.NewsCard {
  border-bottom: hsl(209, 23%, 60%) 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  box-sizing: border-box;
  padding-bottom: .5rem;
}

/* .story-image {
  height: 40vh;
} */


.card-top {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  /* background-color: gray; */
  padding: 1rem;
  padding-top: 0;
  padding-bottom: 0;
  box-sizing: border-box;
}

.description {
  max-width: 60%;
  text-align: center;
  font-family: 'EB Garamond', serif;
  font-size: 1.2rem;
}

.title {
  max-width: 50vw;
  font-family: 'Jost', sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
  color: hsl(209, 61%, 16%);
}

.author {
  font-family: 'Jost', sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  color: hsl(209, 61%, 16%);
}

.content {
  max-width: 40vw;
  margin: 0;
  margin-bottom: .2rem;
  font-family: 'EB Garamond', serif;
  text-align: start;
    font-size: 1rem;
    color: hsl(209, 61%, 16%);
}

.icon-cheveron-down {
  height: 2rem;
  margin: .5rem;
}

.down-secondary {
  fill: hsl(205, 100%, 21%);
}

.expand-btn {
  border: none;
  background: none;
  height: 2rem;
  margin-bottom: 1rem;
}

.icon-cheveron-down:hover, .icon-cheveron-up:hover{
  border-radius: 100%;
  background-color: rgba(33, 94, 128, 0.5);
}

.image-container {
  position: relative;
  display: inline-block;
}

.story-image {
  width: 50vw;
  /* border: 2px inset hsl(209, 23%, 60%); */
  box-shadow:  0 0 10px rgba(33, 94, 128, 0.8);
}

.description-overlay {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Adjust to match the height of the image */
  background: rgba(33, 94, 128, 0.8);;
  color: hsl(210, 36%, 96%);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container:hover .description-overlay {
  opacity: 1;
}

.expanded-view {
  display: flex;
  flex-direction: column;
  animation: dropDown 1s;
}

@keyframes dropDown {
  from {
    height: 0%
  }
  to {
    height: 100%
  }
}

.source-tag:hover {
  cursor: pointer;
  color: hsl(205, 100%, 21%)
}

.source-link {
  text-decoration: none;
  color: hsl(209, 28%, 39%);
  font-family: 'EB Garamond', serif;
  font-weight: 500;
}

.read-more {
  text-decoration: none;
  font-family: 'EB Garamond', serif;
  font-weight: 600;
  color:hsl(209, 28%, 39%);
  margin-top: .5rem;
  margin-bottom: 1rem;
}

.read-more:hover {
  color: hsl(205, 100%, 21%)
}